<h1> New Artist </h1>

<%= form_for @artist do |f| %>

    <%= f.label :name %>
    <p><%= f.text_field :name %></p>

    <%= f.label :bio %>
    <p><%= f.text_field :bio %></p>

    <%= f.submit %>
<% end %>