<h1> Edit Song </h1>

<%= form_for @song do |f| %>

    <%= f.label :name %>
    <p><%= f.text_field :name %></p>

    <%= f.label :artist_id %>
    <p><%= f.number_field :artist_id %></p>

<%= f.label :genre_id %>
    <p><%= f.number_field :genre_id %></p>

    <%= f.submit %>
<% end %>